<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📱 MenesPhones</title>

    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/style.css">
</head>
<body class="body">
    <div class="empresa"><div><h2>📱 MenesPhones</h2></div>
        <h4>Pagina de cadastros de produtos</h4>

    </div> 
    <div>
        <form action='/cadastrar' method="post" enctype="multipart/form-data">
            <input type="text" name="nome" id="nome" placeholder="Digite aqui o produto">
                <div class="filtro-item">
                    <label>Marca</label>
                    <select name="marca" id="marca">
                        <option>Altere aqui</option>
                        <option>Samsung</option>
                        <option>Apple</option>
                        <option>Xiaomi</option>
                        <option>Motorola</option>
                    </select>
                </div>
                <div class="filtro-item">
                    <label>Armazenamento interno</label>
                    <select name="armazenamento" id="armazenamento">
                        <option>Altere aqui</option>
                        <option>64GB</option>
                        <option>128GB</option>
                        <option>256GB</option>
                    </select>
                </div>
                <input type="number" name="valor" id="valor" placeholder="Digite aqui o valor">
                <input type="file" name="imagem" id="imagem">
            <div><button type="submit"><h6>Cadastrar</h6></button></div>
        </form>
    </div>
    <div class="sistema">
       
      <% produtos.forEach(function(produto){ %>

        <div class="lista">
         
           <div><img src="/img/<%= produto.imagem %>"></div>
            <p>Nome: <%=produto.nome%></p>
            <p>Marca : <%=produto.marca%></p>
            <p>Armazenamento : <%=produto.armazenamento%></p>
            <p>Valor= R$ <%=produto.valor%></p>
    <form class="botaoForm" action="/deletar/<%= produto.codigo %>/<%= produto.imagem %>" method="POST" style="display:inline;">
        <button type="submit" class="btn btn-danger">Alterar</button>
    </form>
    <form class="botaoForm" action="/deletar/<%= produto.codigo %>/<%= produto.imagem %>" method="POST" style="display:inline;">
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
            
        </div>

    
<% }) %>
    </div>
</body>
</html>